body {
  text-align : center;
  background-color : rgb(255, 255, 236);
  font-family : monospace;
}

nav {
  color : salmon;
  font-family : monospace;
  margin : 20px;
  text-align : center;
}

figcaption {
  margin : 10px;
  padding : 10px;
}

nav > a {
  border-radius: 5px;
  color : salmon;
  text-decoration : none;
  padding : 5px;
  margin : 5px;
}

a:hover {
  background-color : salmon;
  color : lightgoldenrodyellow;
}

.table {
  margin : 10px auto 10px auto;
  padding : 10px;
  overflow : auto;
  text-align : center;
}

#salesDiv.table {
  width : 960px;
}

#staffDiv.table{
  width : 900px;
}

form {
  text-align: center;
  margin : 10px auto 10px auto;
  padding : 10px;
  width : 950px;
}

fieldset {
  border : 1px solid salmon;
  border-radius : 10px;
  margin : 5px auto 5px auto;
  padding : 10px;
  padding-bottom : 20px;
  width : 865px;
}

legend {
  border-radius : 7px;
  color : salmon;
  margin : 5px auto 5px auto;
  padding : 5px;
  width : 161px;
}

input {
  font-style: italic;
  width: 175px;
}

tr {
  color : salmon;
}

tr:hover {
  background-color : salmon;
  color : lightgoldenrodyellow;
}

th {
  font-size : 1.2em;
  padding : 5px;
}

td {
  font-size : 1.1em;
}

tr > td {
  border-top : 0.5px solid salmon;
  border-bottom:  0.5px solid salmon;
}

