html {
  background-color: salmon;
  font-family: monospace;
  padding: 30px;
}

body {
  width: 1280px;
  margin: auto;
}

header {
  border-radius: 15px;
  background-color: rgb(255, 255, 236);
  color: salmon;
  font-size: 0px;
  margin: 0px auto 30px auto;
  padding: 15px;
  width: 1024px;
}

header > div {
  margin: auto;
  width: 1024px;
  overflow: hidden;
}

header > div > img:first-child {
  float: left;
  width: 285px;
}

header > div > img:last-child {
  float: right;
  width: 285px;
}

header > div > nav {
  display: inline-block;
  width: 450px;
}

nav > div {
  border-radius: 5px;
  background-color: rgb(147, 181, 226);
  display: block;
  margin: auto;
  width: 400px;
}

nav > div:first-child > img {
  background-color: rgb(255, 255, 236);
  border-radius: 15px;
  height: 25px;
  margin: 0px 175px;
  padding: 5px;
}

nav > div:last-child > img {
  background-color: rgb(255, 255, 236);
  border-radius: 15px;
  height: 25px;
  margin: 0px 180px;
  padding: 5px;
}

ul {
  margin: 10px auto;
  width: 400px;
}

li {
  display: inline-block;
  width: 70px;
}

a {
  font-size: 18px;
  padding: 3px 10px;
  text-align: center;
}

a:visited, a:link {
  color: salmon;
  text-decoration: none;
}

header > div > nav > ul > li:nth-child(2) {
  margin: 0px 47.5px;
}

header > div > nav > ul > li:first-child {
  margin: 0px 0px 0px 47.5px;
}

header > div > nav > ul > li:last-child {
  margin: 0px 47.5px 0px 0px;
}

a:hover {
  background-color: salmon;
  color: rgb(255, 255, 236);
  border-radius: 5px;
}


